body{
    background-color: #232323;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.square{
    width: 16.6%;
    background: purple;
    margin: 1.66%;
    float: left;
    padding-bottom: 16.6%;
    border-radius: 10%;
    transition: background 0.6s;
}

/* for 03 square */
.square3{
    width: 25%;
    background: purple;
    margin: 1.66%;
    float: left;
    padding-bottom: 25%;
    border-radius: 10%;
    transition: background 0.6s;
}

.squareContainer3{
    max-width: 500px;
    margin: 10px auto;
}

/* for 06 square */
.square6{
    width: 18%;
    background: purple;
    margin: 1.66%;
    float: left;
    padding-bottom: 18%;
    border-radius: 10%;
    transition: background 0.6s;
}

.squareContainer6{
    max-width: 800px;
    margin: 10px auto;
}

/* end square manipulation */

#container{
    max-width: 80%;
    margin: 10px auto;
}

h1{
    color: whitesmoke;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px 0;
    line-height: 1.1;
}



#colorDisplay{
    font-size: 50px;
}

#message{
    display: inline-block;
    width: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: steelblue;
}

#strip{
    text-align: center;
    background-color: #ffffff;
    height: 30px;
    color: #000000;
}

.selected{
    color: whitesmoke;
    background: steelblue;
}

button{
    border: none;
    background: none;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: steelblue;
    transition: all 500ms;
    outline: none;
}

button:hover{
    color: whitesmoke;
    background: steelblue;
}